{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<h1>Register</h1>
<form id="registerform" method="POST" onsubmit="return delete_reservation();">
  <div class="form-group">
    <label for="reservationID">Reservation ID</label>
    <input type="text" class="form-control" id="reservation_id" placeholder="Enter Reservation ID TO Delete">
    <br>
  </div>
  
  <button type="submit" class="btn btn-primary">Delete</button>
  <br>
  <br>
</form>
<script src="/static/js/delete_reservation.js"></script>
{% endblock %}