{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<br>
<br>
<h1 style="font-size:100px" style="font-family:verdana" style="color:black;">iReserve</h1>
<br>
<br>
<h6 style="font-size:50px" align="left" style="font-family:verdana" style="color:black;">Study</h6>
<br>
<h6 style="font-size:50px" align="left" style="font-family:verdana" style="color:black;">Reserve</h6>
<br>
<h6 style="font-size:50px" align="left" style="font-family:verdana" style="color:black;">With one click!</h6>


<style>
  body {
  background-image: url('/static/images/uiucbackground.webp');
  background-size: cover;
}

</style>
{% endblock %}