{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<center><h1 style="color:white;">Welcome to iReserve</h1></center>
<center><h8 style="color:white;">Ever wanted study space right in the comfort of your own dorm?</h8></center>
<center><h8 style="color:white;">iReserve allows you to do just that by providing a way to find, reserve, and occupy a space within any dormitory.</h8></center>
<center><h8 style="color:white;">Safely and accurately book a room for any space without running in to one another. Happy reserving!</h8></center>


<style>
  body {
  background-image: url('/static/images/uiucbackground.jpg');
  background-size: cover;
}

</style>
{% endblock %}