{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <!-- login card-->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
      <!-- login card-->
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}