<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1475b41e9cb1a9f81e1403854e1b0faf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1475b41e9cb1a9f81e1403854e1b0faf" ></div>
        
</body>
<script>    
    
            var map_1475b41e9cb1a9f81e1403854e1b0faf = L.map(
                "map_1475b41e9cb1a9f81e1403854e1b0faf",
                {
                    center: [40.104, -88.228],
                    crs: L.CRS.EPSG3857,
                    zoom: 15.4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ae1e398b263a7862813be7698502dd79 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
            var circle_09907fd315d8806d014ce2bbaaa67fb4 = L.circle(
                [40.09974605333407, -88.22109242320069],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 19.71764705882353, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_46784c436824ab09d2fe860cf0b16438 = L.popup({"maxWidth": "100%"});

        
            var html_2e248dc9c0c0a63daddf25dd0b1f5a1d = $(`<div id="html_2e248dc9c0c0a63daddf25dd0b1f5a1d" style="width: 100.0%; height: 100.0%;">Babcock Hall: 1676</div>`)[0];
            popup_46784c436824ab09d2fe860cf0b16438.setContent(html_2e248dc9c0c0a63daddf25dd0b1f5a1d);
        

        circle_09907fd315d8806d014ce2bbaaa67fb4.bindPopup(popup_46784c436824ab09d2fe860cf0b16438)
        ;

        
    
    
            var circle_16f6da1c8333f387945df2fef5802970 = L.circle(
                [40.10197021567408, -88.23794140241456],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 24.729411764705883, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_8f56e07d0e8b639b9dc154a057cc3b4d = L.popup({"maxWidth": "100%"});

        
            var html_b1d2513bef6c1fe86e1b3895f6f4a2fe = $(`<div id="html_b1d2513bef6c1fe86e1b3895f6f4a2fe" style="width: 100.0%; height: 100.0%;">Bousfield Hall: 2102</div>`)[0];
            popup_8f56e07d0e8b639b9dc154a057cc3b4d.setContent(html_b1d2513bef6c1fe86e1b3895f6f4a2fe);
        

        circle_16f6da1c8333f387945df2fef5802970.bindPopup(popup_8f56e07d0e8b639b9dc154a057cc3b4d)
        ;

        
    
    
            var circle_3ea1dace541b629a05e29b050d38ce0a = L.circle(
                [40.10046314622389, -88.22091966008513],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 18.211764705882352, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_6e5efae5bae139bd0ee2894eeb782db0 = L.popup({"maxWidth": "100%"});

        
            var html_d7e69106cdebb3f11eb4e0449ae9b40e = $(`<div id="html_d7e69106cdebb3f11eb4e0449ae9b40e" style="width: 100.0%; height: 100.0%;">Carr Hall: 1548</div>`)[0];
            popup_6e5efae5bae139bd0ee2894eeb782db0.setContent(html_d7e69106cdebb3f11eb4e0449ae9b40e);
        

        circle_3ea1dace541b629a05e29b050d38ce0a.bindPopup(popup_6e5efae5bae139bd0ee2894eeb782db0)
        ;

        
    
    
            var circle_3e4513c18724b6cdad9cdbd3f6cfd703 = L.circle(
                [40.10261431404243, -88.23807960980253],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 18.894117647058824, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_c1f38f2c2e7e24910473cb76408d1214 = L.popup({"maxWidth": "100%"});

        
            var html_01a425b2ea29458d4230b2ad7147e090 = $(`<div id="html_01a425b2ea29458d4230b2ad7147e090" style="width: 100.0%; height: 100.0%;">Hopkins Hall: 1606</div>`)[0];
            popup_c1f38f2c2e7e24910473cb76408d1214.setContent(html_01a425b2ea29458d4230b2ad7147e090);
        

        circle_3e4513c18724b6cdad9cdbd3f6cfd703.bindPopup(popup_c1f38f2c2e7e24910473cb76408d1214)
        ;

        
    
    
            var circle_1ac16aa442f479aa59a29a950434080b = L.circle(
                [40.10408160408148, -88.23700284474393],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.24705882352941, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_d8cb121412de21e3c4718210d836b0dc = L.popup({"maxWidth": "100%"});

        
            var html_f717275dd04b9e5fc387dedf08a8d71c = $(`<div id="html_f717275dd04b9e5fc387dedf08a8d71c" style="width: 100.0%; height: 100.0%;">Nugent Hall: 1296</div>`)[0];
            popup_d8cb121412de21e3c4718210d836b0dc.setContent(html_f717275dd04b9e5fc387dedf08a8d71c);
        

        circle_1ac16aa442f479aa59a29a950434080b.bindPopup(popup_d8cb121412de21e3c4718210d836b0dc)
        ;

        
    
    
            var circle_3a0e3dd9654600b2d238a2b2f009a65d = L.circle(
                [40.099138743373366, -88.22156030241462],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 61.65882352941176, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_a0021b3d7be7d270310ef4af038db4c2 = L.popup({"maxWidth": "100%"});

        
            var html_059fd830def74fba01399cca7accfc54 = $(`<div id="html_059fd830def74fba01399cca7accfc54" style="width: 100.0%; height: 100.0%;">Oglesby Hall: 5241</div>`)[0];
            popup_a0021b3d7be7d270310ef4af038db4c2.setContent(html_059fd830def74fba01399cca7accfc54);
        

        circle_3a0e3dd9654600b2d238a2b2f009a65d.bindPopup(popup_a0021b3d7be7d270310ef4af038db4c2)
        ;

        
    
    
            var circle_9c056679cbee86a753047368448bba63 = L.circle(
                [40.099819894094225, -88.21975670241463],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20.847058823529412, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_4b3b971b8c6973ff52d40fc9db493af1 = L.popup({"maxWidth": "100%"});

        
            var html_8ecb1374d8cce5752b33dcfa7c656b8a = $(`<div id="html_8ecb1374d8cce5752b33dcfa7c656b8a" style="width: 100.0%; height: 100.0%;">Saunders Hall: 1772</div>`)[0];
            popup_4b3b971b8c6973ff52d40fc9db493af1.setContent(html_8ecb1374d8cce5752b33dcfa7c656b8a);
        

        circle_9c056679cbee86a753047368448bba63.bindPopup(popup_4b3b971b8c6973ff52d40fc9db493af1)
        ;

        
    
    
            var circle_d4c8f266da4c9c5cf14be07bd1145968 = L.circle(
                [40.10199850531534, -88.23672557542628],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.48235294117647, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_797e0b248657ce7e89fd91beb72cc552 = L.popup({"maxWidth": "100%"});

        
            var html_19c19e984ac91ba4d012d06928c2727e = $(`<div id="html_19c19e984ac91ba4d012d06928c2727e" style="width: 100.0%; height: 100.0%;">Scott Hall: 1316</div>`)[0];
            popup_797e0b248657ce7e89fd91beb72cc552.setContent(html_19c19e984ac91ba4d012d06928c2727e);
        

        circle_d4c8f266da4c9c5cf14be07bd1145968.bindPopup(popup_797e0b248657ce7e89fd91beb72cc552)
        ;

        
    
    
            var circle_90ffb1ecf1f8d3c3ea500c2f2841ee55 = L.circle(
                [40.11026515619361, -88.22097176008491],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17.294117647058822, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_00f5d4e0d1f7bd2aee8f6005ebe42d88 = L.popup({"maxWidth": "100%"});

        
            var html_45fc3b7d241177448dbd6ae82a536b1e = $(`<div id="html_45fc3b7d241177448dbd6ae82a536b1e" style="width: 100.0%; height: 100.0%;">Townsend Hall: 1470</div>`)[0];
            popup_00f5d4e0d1f7bd2aee8f6005ebe42d88.setContent(html_45fc3b7d241177448dbd6ae82a536b1e);
        

        circle_90ffb1ecf1f8d3c3ea500c2f2841ee55.bindPopup(popup_00f5d4e0d1f7bd2aee8f6005ebe42d88)
        ;

        
    
    
            var circle_78d08b15e5f160630b76acc194897d00 = L.circle(
                [40.09913563653867, -88.2203734177558],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 61.68235294117647, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_6dcc23481b8f1b5c183906fdff654cc0 = L.popup({"maxWidth": "100%"});

        
            var html_eb8e7e2d4de667761f01bc3caad1dde8 = $(`<div id="html_eb8e7e2d4de667761f01bc3caad1dde8" style="width: 100.0%; height: 100.0%;">Trelease Hall: 5243</div>`)[0];
            popup_6dcc23481b8f1b5c183906fdff654cc0.setContent(html_eb8e7e2d4de667761f01bc3caad1dde8);
        

        circle_78d08b15e5f160630b76acc194897d00.bindPopup(popup_6dcc23481b8f1b5c183906fdff654cc0)
        ;

        
    
    
            var circle_99792a579d7d4a61cf50447692e3ef98 = L.circle(
                [40.10958999761764, -88.22170149985071],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 45.4, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_58dcc9fbf8e6663c30be934691b1d3d9 = L.popup({"maxWidth": "100%"});

        
            var html_2b8307e00c3d41ab3064b7f65cabbc53 = $(`<div id="html_2b8307e00c3d41ab3064b7f65cabbc53" style="width: 100.0%; height: 100.0%;">Wardell Hall: 3859</div>`)[0];
            popup_58dcc9fbf8e6663c30be934691b1d3d9.setContent(html_2b8307e00c3d41ab3064b7f65cabbc53);
        

        circle_99792a579d7d4a61cf50447692e3ef98.bindPopup(popup_58dcc9fbf8e6663c30be934691b1d3d9)
        ;

        
    
    
            var circle_523b5880cd7cc21c0bb12c2727882864 = L.circle(
                [40.10399018569615, -88.23820096008505],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 16.8, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_48d25c5be50ee69b3879c409beadffbe = L.popup({"maxWidth": "100%"});

        
            var html_c3b73bcd5c2515ba046ba73874042c35 = $(`<div id="html_c3b73bcd5c2515ba046ba73874042c35" style="width: 100.0%; height: 100.0%;">Wassaja Hall: 1428</div>`)[0];
            popup_48d25c5be50ee69b3879c409beadffbe.setContent(html_c3b73bcd5c2515ba046ba73874042c35);
        

        circle_523b5880cd7cc21c0bb12c2727882864.bindPopup(popup_48d25c5be50ee69b3879c409beadffbe)
        ;

        
    
    
            var circle_c67e0dfccbdeb1f93fc341902b14b335 = L.circle(
                [40.103306624966976, -88.23523598707338],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17.023529411764706, "stroke": true, "weight": 3}
            ).addTo(map_1475b41e9cb1a9f81e1403854e1b0faf);
        
    
        var popup_dd1fc9a8484d259337f9a7a4167c10e1 = L.popup({"maxWidth": "100%"});

        
            var html_8054c22f25c20f0fb07c7892c0b69a28 = $(`<div id="html_8054c22f25c20f0fb07c7892c0b69a28" style="width: 100.0%; height: 100.0%;">Weston Hall: 1447</div>`)[0];
            popup_dd1fc9a8484d259337f9a7a4167c10e1.setContent(html_8054c22f25c20f0fb07c7892c0b69a28);
        

        circle_c67e0dfccbdeb1f93fc341902b14b335.bindPopup(popup_dd1fc9a8484d259337f9a7a4167c10e1)
        ;

        
    
</script>