<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1ff6ec71dfbd9a3148f829cec9d6fb9d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1ff6ec71dfbd9a3148f829cec9d6fb9d" ></div>
        
</body>
<script>    
    
            var map_1ff6ec71dfbd9a3148f829cec9d6fb9d = L.map(
                "map_1ff6ec71dfbd9a3148f829cec9d6fb9d",
                {
                    center: [40.104, -88.228],
                    crs: L.CRS.EPSG3857,
                    zoom: 15.4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_30f7e24b76a0894b243af84ce419bb5b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
            var circle_8accd05f52b6db6e8994417a787cf9d1 = L.circle(
                [40.09974605333407, -88.22109242320069],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 19.71764705882353, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_ca5b028964799b04d9a3a37120882ef1 = L.popup({"maxWidth": "100%"});

        
            var html_e8ea7f40badf14f5416c27bac30a0f59 = $(`<div id="html_e8ea7f40badf14f5416c27bac30a0f59" style="width: 100.0%; height: 100.0%;">Babcock Hall: 1676</div>`)[0];
            popup_ca5b028964799b04d9a3a37120882ef1.setContent(html_e8ea7f40badf14f5416c27bac30a0f59);
        

        circle_8accd05f52b6db6e8994417a787cf9d1.bindPopup(popup_ca5b028964799b04d9a3a37120882ef1)
        ;

        
    
    
            var circle_872203c7917bd3a88f3266d5d9729d41 = L.circle(
                [40.10197021567408, -88.23794140241456],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 24.729411764705883, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_73f1004131b23d56c53650a127e6acc8 = L.popup({"maxWidth": "100%"});

        
            var html_42065bded61f78c5c054731533f542f8 = $(`<div id="html_42065bded61f78c5c054731533f542f8" style="width: 100.0%; height: 100.0%;">Bousfield Hall: 2102</div>`)[0];
            popup_73f1004131b23d56c53650a127e6acc8.setContent(html_42065bded61f78c5c054731533f542f8);
        

        circle_872203c7917bd3a88f3266d5d9729d41.bindPopup(popup_73f1004131b23d56c53650a127e6acc8)
        ;

        
    
    
            var circle_b2661cf74eb9a9d92a89bfc4f52abe81 = L.circle(
                [40.10046314622389, -88.22091966008513],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 18.223529411764705, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_c82337b22f9c36bed552bd47ef8b4f57 = L.popup({"maxWidth": "100%"});

        
            var html_41385163c8f5f6cfdde780d27a39b1dc = $(`<div id="html_41385163c8f5f6cfdde780d27a39b1dc" style="width: 100.0%; height: 100.0%;">Carr Hall: 1549</div>`)[0];
            popup_c82337b22f9c36bed552bd47ef8b4f57.setContent(html_41385163c8f5f6cfdde780d27a39b1dc);
        

        circle_b2661cf74eb9a9d92a89bfc4f52abe81.bindPopup(popup_c82337b22f9c36bed552bd47ef8b4f57)
        ;

        
    
    
            var circle_d11a1d63416b42ded19bfe6b75eb3cdb = L.circle(
                [40.10261431404243, -88.23807960980253],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 18.894117647058824, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_656b5c83c2fef99dac7830656ef9ce1b = L.popup({"maxWidth": "100%"});

        
            var html_5d19596bfbf366caffbfe0654722be3d = $(`<div id="html_5d19596bfbf366caffbfe0654722be3d" style="width: 100.0%; height: 100.0%;">Hopkins Hall: 1606</div>`)[0];
            popup_656b5c83c2fef99dac7830656ef9ce1b.setContent(html_5d19596bfbf366caffbfe0654722be3d);
        

        circle_d11a1d63416b42ded19bfe6b75eb3cdb.bindPopup(popup_656b5c83c2fef99dac7830656ef9ce1b)
        ;

        
    
    
            var circle_a854801bc805f28bc9798eeabd5694c2 = L.circle(
                [40.10408160408148, -88.23700284474393],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.258823529411766, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_4854787db93e04f19ac0fdec8e64d7b7 = L.popup({"maxWidth": "100%"});

        
            var html_46df758cb4cd366aded6a0b5a9b6ec18 = $(`<div id="html_46df758cb4cd366aded6a0b5a9b6ec18" style="width: 100.0%; height: 100.0%;">Nugent Hall: 1297</div>`)[0];
            popup_4854787db93e04f19ac0fdec8e64d7b7.setContent(html_46df758cb4cd366aded6a0b5a9b6ec18);
        

        circle_a854801bc805f28bc9798eeabd5694c2.bindPopup(popup_4854787db93e04f19ac0fdec8e64d7b7)
        ;

        
    
    
            var circle_cbe28bd2a8a85408b39cd2d663c26547 = L.circle(
                [40.099138743373366, -88.22156030241462],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 61.67058823529412, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_2f332ac8fb8d82aca9bf6b407c0a6cdc = L.popup({"maxWidth": "100%"});

        
            var html_08fc70173bc068df48564b2e678ffcf8 = $(`<div id="html_08fc70173bc068df48564b2e678ffcf8" style="width: 100.0%; height: 100.0%;">Oglesby Hall: 5242</div>`)[0];
            popup_2f332ac8fb8d82aca9bf6b407c0a6cdc.setContent(html_08fc70173bc068df48564b2e678ffcf8);
        

        circle_cbe28bd2a8a85408b39cd2d663c26547.bindPopup(popup_2f332ac8fb8d82aca9bf6b407c0a6cdc)
        ;

        
    
    
            var circle_8e32e26d584e011d0fb2b37d32c4fb37 = L.circle(
                [40.099819894094225, -88.21975670241463],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20.847058823529412, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_ed5a0e7b321dd6033bb547e007464ab6 = L.popup({"maxWidth": "100%"});

        
            var html_c50f8e8b75c33b478ed702a8e4af3595 = $(`<div id="html_c50f8e8b75c33b478ed702a8e4af3595" style="width: 100.0%; height: 100.0%;">Saunders Hall: 1772</div>`)[0];
            popup_ed5a0e7b321dd6033bb547e007464ab6.setContent(html_c50f8e8b75c33b478ed702a8e4af3595);
        

        circle_8e32e26d584e011d0fb2b37d32c4fb37.bindPopup(popup_ed5a0e7b321dd6033bb547e007464ab6)
        ;

        
    
    
            var circle_ed9ce40b5ced5c3ae950a5d057e15946 = L.circle(
                [40.10199850531534, -88.23672557542628],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.494117647058824, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_93cf97b550505d6a16ab343b908ef238 = L.popup({"maxWidth": "100%"});

        
            var html_f73d225e52e3c97bfd8e1adcaf29a2f1 = $(`<div id="html_f73d225e52e3c97bfd8e1adcaf29a2f1" style="width: 100.0%; height: 100.0%;">Scott Hall: 1317</div>`)[0];
            popup_93cf97b550505d6a16ab343b908ef238.setContent(html_f73d225e52e3c97bfd8e1adcaf29a2f1);
        

        circle_ed9ce40b5ced5c3ae950a5d057e15946.bindPopup(popup_93cf97b550505d6a16ab343b908ef238)
        ;

        
    
    
            var circle_4fa0815ddaa9498acf9749086196480b = L.circle(
                [40.11026515619361, -88.22097176008491],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17.31764705882353, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_409f41af8b8b973a4bf35f8358c5f4bc = L.popup({"maxWidth": "100%"});

        
            var html_91261a684d808983bbb9be5f2f8500f1 = $(`<div id="html_91261a684d808983bbb9be5f2f8500f1" style="width: 100.0%; height: 100.0%;">Townsend Hall: 1472</div>`)[0];
            popup_409f41af8b8b973a4bf35f8358c5f4bc.setContent(html_91261a684d808983bbb9be5f2f8500f1);
        

        circle_4fa0815ddaa9498acf9749086196480b.bindPopup(popup_409f41af8b8b973a4bf35f8358c5f4bc)
        ;

        
    
    
            var circle_c95eef9807058d14482fcad8e9fcaa9e = L.circle(
                [40.09913563653867, -88.2203734177558],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 61.68235294117647, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_473dbc9068bd445331c1aa9e0cf69eb0 = L.popup({"maxWidth": "100%"});

        
            var html_eb95365b86ba50e24f879f02ee6dc426 = $(`<div id="html_eb95365b86ba50e24f879f02ee6dc426" style="width: 100.0%; height: 100.0%;">Trelease Hall: 5243</div>`)[0];
            popup_473dbc9068bd445331c1aa9e0cf69eb0.setContent(html_eb95365b86ba50e24f879f02ee6dc426);
        

        circle_c95eef9807058d14482fcad8e9fcaa9e.bindPopup(popup_473dbc9068bd445331c1aa9e0cf69eb0)
        ;

        
    
    
            var circle_7dc3f18d0944693cb84f6e3b220e35bf = L.circle(
                [40.10958999761764, -88.22170149985071],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 45.43529411764706, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_24b2d824e617efccd74459a7364f27d1 = L.popup({"maxWidth": "100%"});

        
            var html_00f1f231acc3ecd40862c5d49d125c35 = $(`<div id="html_00f1f231acc3ecd40862c5d49d125c35" style="width: 100.0%; height: 100.0%;">Wardell Hall: 3862</div>`)[0];
            popup_24b2d824e617efccd74459a7364f27d1.setContent(html_00f1f231acc3ecd40862c5d49d125c35);
        

        circle_7dc3f18d0944693cb84f6e3b220e35bf.bindPopup(popup_24b2d824e617efccd74459a7364f27d1)
        ;

        
    
    
            var circle_9e5ce9e67b371cab5fe124da27badab9 = L.circle(
                [40.10399018569615, -88.23820096008505],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 16.8, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_f1d19e96bc941ee64a316792ca039d50 = L.popup({"maxWidth": "100%"});

        
            var html_65037d2249d8e7603492dcf5acef109c = $(`<div id="html_65037d2249d8e7603492dcf5acef109c" style="width: 100.0%; height: 100.0%;">Wassaja Hall: 1428</div>`)[0];
            popup_f1d19e96bc941ee64a316792ca039d50.setContent(html_65037d2249d8e7603492dcf5acef109c);
        

        circle_9e5ce9e67b371cab5fe124da27badab9.bindPopup(popup_f1d19e96bc941ee64a316792ca039d50)
        ;

        
    
    
            var circle_0eb2eee91f4b0c76ac4e890fbf2f4773 = L.circle(
                [40.103306624966976, -88.23523598707338],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17.023529411764706, "stroke": true, "weight": 3}
            ).addTo(map_1ff6ec71dfbd9a3148f829cec9d6fb9d);
        
    
        var popup_d0ceb9f7fe1623b7f5184b4fcaf048a9 = L.popup({"maxWidth": "100%"});

        
            var html_d392752d36d9421807b4cd10234631c0 = $(`<div id="html_d392752d36d9421807b4cd10234631c0" style="width: 100.0%; height: 100.0%;">Weston Hall: 1447</div>`)[0];
            popup_d0ceb9f7fe1623b7f5184b4fcaf048a9.setContent(html_d392752d36d9421807b4cd10234631c0);
        

        circle_0eb2eee91f4b0c76ac4e890fbf2f4773.bindPopup(popup_d0ceb9f7fe1623b7f5184b4fcaf048a9)
        ;

        
    
</script>