<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c1c7481c6a7067f78d99b08b198d159f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c1c7481c6a7067f78d99b08b198d159f" ></div>
        
</body>
<script>    
    
            var map_c1c7481c6a7067f78d99b08b198d159f = L.map(
                "map_c1c7481c6a7067f78d99b08b198d159f",
                {
                    center: [40.104, -88.228],
                    crs: L.CRS.EPSG3857,
                    zoom: 15.4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_35d824854f73d00085b7875b256242aa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
            var circle_b5a7117e83834b8ca6ebb50b28f5351c = L.circle(
                [40.09974605333407, -88.22109242320069],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.047058823529412, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_66a39b736767c6192cd5e085ab7cd03c = L.popup({"maxWidth": "100%"});

        
            var html_fe82263e8ed9e768145b6718a4bfc54f = $(`<div id="html_fe82263e8ed9e768145b6718a4bfc54f" style="width: 100.0%; height: 100.0%;">Babcock Hall: 1109</div>`)[0];
            popup_66a39b736767c6192cd5e085ab7cd03c.setContent(html_fe82263e8ed9e768145b6718a4bfc54f);
        

        circle_b5a7117e83834b8ca6ebb50b28f5351c.bindPopup(popup_66a39b736767c6192cd5e085ab7cd03c)
        ;

        
    
    
            var circle_3cc6366337a18c4a981f20f24769403f = L.circle(
                [40.10197021567408, -88.23794140241456],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 16.58823529411765, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_449946526c9b9ec17615b269ae8a4a50 = L.popup({"maxWidth": "100%"});

        
            var html_08553fea9d2c5e26924edcc87d477eab = $(`<div id="html_08553fea9d2c5e26924edcc87d477eab" style="width: 100.0%; height: 100.0%;">Bousfield Hall: 1410</div>`)[0];
            popup_449946526c9b9ec17615b269ae8a4a50.setContent(html_08553fea9d2c5e26924edcc87d477eab);
        

        circle_3cc6366337a18c4a981f20f24769403f.bindPopup(popup_449946526c9b9ec17615b269ae8a4a50)
        ;

        
    
    
            var circle_76020e2fdbb9228dd97b86735af8cba0 = L.circle(
                [40.10046314622389, -88.22091966008513],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.117647058823529, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_ca40215d12dcb7d29d57257e7d98fbde = L.popup({"maxWidth": "100%"});

        
            var html_b7529ac1f4ff9a5c695099806ebb839d = $(`<div id="html_b7529ac1f4ff9a5c695099806ebb839d" style="width: 100.0%; height: 100.0%;">Carr Hall: 1030</div>`)[0];
            popup_ca40215d12dcb7d29d57257e7d98fbde.setContent(html_b7529ac1f4ff9a5c695099806ebb839d);
        

        circle_76020e2fdbb9228dd97b86735af8cba0.bindPopup(popup_ca40215d12dcb7d29d57257e7d98fbde)
        ;

        
    
    
            var circle_be211aea079a9ab495f7f0576126d428 = L.circle(
                [40.10261431404243, -88.23807960980253],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.011764705882353, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_fc2e9bf0ce1c8e53451d05a6714c2ee2 = L.popup({"maxWidth": "100%"});

        
            var html_17db45bcba99460e784df29d060b9417 = $(`<div id="html_17db45bcba99460e784df29d060b9417" style="width: 100.0%; height: 100.0%;">Hopkins Hall: 1106</div>`)[0];
            popup_fc2e9bf0ce1c8e53451d05a6714c2ee2.setContent(html_17db45bcba99460e784df29d060b9417);
        

        circle_be211aea079a9ab495f7f0576126d428.bindPopup(popup_fc2e9bf0ce1c8e53451d05a6714c2ee2)
        ;

        
    
    
            var circle_b63bbbc5afdac626042bb0fae852815e = L.circle(
                [40.10408160408148, -88.23700284474393],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9.647058823529411, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_37d8992e6feb4b543069530793602fb3 = L.popup({"maxWidth": "100%"});

        
            var html_08b28e56503c1578262cdfa040c507de = $(`<div id="html_08b28e56503c1578262cdfa040c507de" style="width: 100.0%; height: 100.0%;">Nugent Hall: 820</div>`)[0];
            popup_37d8992e6feb4b543069530793602fb3.setContent(html_08b28e56503c1578262cdfa040c507de);
        

        circle_b63bbbc5afdac626042bb0fae852815e.bindPopup(popup_37d8992e6feb4b543069530793602fb3)
        ;

        
    
    
            var circle_58f44e0fd9577b7fb515ceeb33163a22 = L.circle(
                [40.099138743373366, -88.22156030241462],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 42.11764705882353, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_48c790f08022facc36c16bad840f0c19 = L.popup({"maxWidth": "100%"});

        
            var html_93d9966bd001fa55e58f92bef9e02f24 = $(`<div id="html_93d9966bd001fa55e58f92bef9e02f24" style="width: 100.0%; height: 100.0%;">Oglesby Hall: 3580</div>`)[0];
            popup_48c790f08022facc36c16bad840f0c19.setContent(html_93d9966bd001fa55e58f92bef9e02f24);
        

        circle_58f44e0fd9577b7fb515ceeb33163a22.bindPopup(popup_48c790f08022facc36c16bad840f0c19)
        ;

        
    
    
            var circle_cff8e3da40f0b0ae4373b1c87ddbdb64 = L.circle(
                [40.099819894094225, -88.21975670241463],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.282352941176471, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_804223e0abe84c6eba68f1744c5e1630 = L.popup({"maxWidth": "100%"});

        
            var html_9a63119019ce77deff6ec2beb01f2247 = $(`<div id="html_9a63119019ce77deff6ec2beb01f2247" style="width: 100.0%; height: 100.0%;">Saunders Hall: 1129</div>`)[0];
            popup_804223e0abe84c6eba68f1744c5e1630.setContent(html_9a63119019ce77deff6ec2beb01f2247);
        

        circle_cff8e3da40f0b0ae4373b1c87ddbdb64.bindPopup(popup_804223e0abe84c6eba68f1744c5e1630)
        ;

        
    
    
            var circle_745f8c8530d5ad2302407a0a41fbf86d = L.circle(
                [40.10199850531534, -88.23672557542628],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9.694117647058823, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_1d74865c5b3309e8c19ed84bd494f483 = L.popup({"maxWidth": "100%"});

        
            var html_2de55b0cf123c8a5310dbadbfb676350 = $(`<div id="html_2de55b0cf123c8a5310dbadbfb676350" style="width: 100.0%; height: 100.0%;">Scott Hall: 824</div>`)[0];
            popup_1d74865c5b3309e8c19ed84bd494f483.setContent(html_2de55b0cf123c8a5310dbadbfb676350);
        

        circle_745f8c8530d5ad2302407a0a41fbf86d.bindPopup(popup_1d74865c5b3309e8c19ed84bd494f483)
        ;

        
    
    
            var circle_06f6fe7b1b22b8ea9c6b09b992ecb40a = L.circle(
                [40.11026515619361, -88.22097176008491],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.105882352941176, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_479e0b2adfc182f807b9fa328957be49 = L.popup({"maxWidth": "100%"});

        
            var html_bb95fd6e6674ba80a90e6438eb8f9e16 = $(`<div id="html_bb95fd6e6674ba80a90e6438eb8f9e16" style="width: 100.0%; height: 100.0%;">Townsend Hall: 1029</div>`)[0];
            popup_479e0b2adfc182f807b9fa328957be49.setContent(html_bb95fd6e6674ba80a90e6438eb8f9e16);
        

        circle_06f6fe7b1b22b8ea9c6b09b992ecb40a.bindPopup(popup_479e0b2adfc182f807b9fa328957be49)
        ;

        
    
    
            var circle_b4ed185ef79d00df90d0d812b141bc54 = L.circle(
                [40.09913563653867, -88.2203734177558],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40.752941176470586, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_19800dd6db0149e84f72e0176b14cf14 = L.popup({"maxWidth": "100%"});

        
            var html_de7ab50884b04381fcdc8025368079ce = $(`<div id="html_de7ab50884b04381fcdc8025368079ce" style="width: 100.0%; height: 100.0%;">Trelease Hall: 3464</div>`)[0];
            popup_19800dd6db0149e84f72e0176b14cf14.setContent(html_de7ab50884b04381fcdc8025368079ce);
        

        circle_b4ed185ef79d00df90d0d812b141bc54.bindPopup(popup_19800dd6db0149e84f72e0176b14cf14)
        ;

        
    
    
            var circle_1a7cf29870812314f6defae54c7b3586 = L.circle(
                [40.10958999761764, -88.22170149985071],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 31.094117647058823, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_de3b65f0cc65cb04c2a34099464dd3f7 = L.popup({"maxWidth": "100%"});

        
            var html_59d399cfe4362e8bc70ebd464a3247b5 = $(`<div id="html_59d399cfe4362e8bc70ebd464a3247b5" style="width: 100.0%; height: 100.0%;">Wardell Hall: 2643</div>`)[0];
            popup_de3b65f0cc65cb04c2a34099464dd3f7.setContent(html_59d399cfe4362e8bc70ebd464a3247b5);
        

        circle_1a7cf29870812314f6defae54c7b3586.bindPopup(popup_de3b65f0cc65cb04c2a34099464dd3f7)
        ;

        
    
    
            var circle_a188f152ad8a7515b067d2ff581acb93 = L.circle(
                [40.10399018569615, -88.23820096008505],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.75294117647059, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_3365e4da83c513fa17d843623075f01b = L.popup({"maxWidth": "100%"});

        
            var html_a32f17489e87f9d00181eb2c911b383b = $(`<div id="html_a32f17489e87f9d00181eb2c911b383b" style="width: 100.0%; height: 100.0%;">Wassaja Hall: 914</div>`)[0];
            popup_3365e4da83c513fa17d843623075f01b.setContent(html_a32f17489e87f9d00181eb2c911b383b);
        

        circle_a188f152ad8a7515b067d2ff581acb93.bindPopup(popup_3365e4da83c513fa17d843623075f01b)
        ;

        
    
    
            var circle_2ce02aa7ef8caff9098a3f1603a3ca55 = L.circle(
                [40.103306624966976, -88.23523598707338],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.08235294117647, "stroke": true, "weight": 3}
            ).addTo(map_c1c7481c6a7067f78d99b08b198d159f);
        
    
        var popup_fde928f73c7bb88b83bb1415e31ffc00 = L.popup({"maxWidth": "100%"});

        
            var html_89241d41cb78ae4407711df8720d1840 = $(`<div id="html_89241d41cb78ae4407711df8720d1840" style="width: 100.0%; height: 100.0%;">Weston Hall: 942</div>`)[0];
            popup_fde928f73c7bb88b83bb1415e31ffc00.setContent(html_89241d41cb78ae4407711df8720d1840);
        

        circle_2ce02aa7ef8caff9098a3f1603a3ca55.bindPopup(popup_fde928f73c7bb88b83bb1415e31ffc00)
        ;

        
    
</script>