{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for u in queried_users %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ u.FirstName }}</td>
      <td>{{ u.LastName }}</td>
      <td>{{ u.Email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block search_bar %}
<form id="registerform" class="d-flex" method="POST" onsubmit="return add_user_data();">
  <div class="fname">
      <input class="form-control me-2" type="text" placeholder="First Name" id="first_name" required>
  </div>

  <br>

  <div class="lname">
    <input class="form-control me-2" type="text" placeholder="Last Name" id="last_name" required>
</div>
  
  <br>

  <div class="em">
    <input class="form-control me-2" type="text" placeholder="Type email" id="email" required>
  </div>
 
  <br>

  <div class="hp">
    <input class="form-control me-2" type="text" placeholder="Type password" id="password" required>
  </div>

  <button class="btn btn-outline-success" id="submit" type="submit">Register</button>
</form>
<span id="message"></span>
<script>
  var form = document.getElementById("registerform");
  function handleForm(event) { event.preventDefault(); } 
</script>
{% endblock %}