{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<h1>Register</h1>
<form id="registerform" method="POST" onsubmit="return add_user_data();">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="first_name" placeholder="Enter First Name">
    <br>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name">
    <br>
  </div>

  <div class="form-group">
    <label for="exampleEmail">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Enter Email">
    <br>
  </div>

  <div class="form-group">
    <label for="password">Password </label>
    <input type="text" class="form-control" id="password" placeholder="Enter Password">
    <br>
  </div>
  
  <div class="form-group">
    <label for="confirm_password">Confirm</label>
    <input type="text" class="form-control" id="confirm_password" placeholder="Enter Password Again">
    <br>
  </div>
  
  <button type="submit" class="btn btn-primary">Register</button>
  <br>
  <br>
</form>
<script src="/static/js/add_user_data.js"></script>
{% endblock %}