{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<div id="message" class="" role="alert"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Building</th>
      <th scope="col">Room</th>
      <th scope="col">Reserver</th>
      <th scope="col">Associated Group</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for r in queried_reservations %}
    <tr id="table-row-{{ r.ReservationID }}">
      <td class="align-middle">{{ r.BuildingName }}</td>
      <td class="align-middle">{{ r.RoomNumber }}</td>
      <td class="align-middle">{{ r.FirstName }} {{ r.LastName }}</td>
      <td class="align-middle">{{ r.GroupName }}</td>
      <td class="align-middle">{{ r.StartTime }}</td>
      <td class="align-middle">{{ r.EndTime }}</td>
      <td class="align-middle">
        <button type="button" class="btn btn-outline-danger d-flex me-2" data-bs-toggle="modal" data-bs-target="#confirmModal" data-bs-rid="{{ r.ReservationID }}" meta-data-rnum="{{ r.RoomNumber }}" meta-data-building="{{ r.BuildingName }}" meta-data-start="{{ r.StartTime }}">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- DELETE CONFIRMATION-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p></p>
        <form id="delete_res_form" onsubmit="return delete_reservation(event);">
          <button type="button" class="btn btn-outline-secondary me-2" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/delete_reservation.js"></script>
<!-- DELETE CONFIRMATION-->
{% endblock %}
{% block search_bar %}
{% endblock %}