{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<h1>Make an Ireservation</h1>
<form id="reserveform" method="POST" onsubmit="return try_to_make_reservation();">
  <div class="form-group">
    <label for="exampleGroupId">Group ID</label>
    <input type="text" class="form-control" id="groupid" placeholder="Enter Group ID">
    <br>
  </div>
  <div class="form-group">
    <label for="RoomID ">Room ID</label>
    <input type="text" class="form-control" id="roomid" placeholder="Room ID">
    <br>
  </div>
  <div class="form-group">
    <label for="meeting-time">Choose a start time for your reservation:</label>

    <input type="datetime-local" id="starttime" value="2018-06-12T19:30"
      min="2022-04-01T00:00" max="2022-048-1T00:00" placeholder="Start Time" class="form-control">
      
    <br>
  </div>
  <div class="form-group">
    <label for="meeting-time">Choose a end time for your reservation:</label>

    <input type="datetime-local" id="endtime" value="2018-06-12T19:30"
          min="2022-04-01T00:00" max="2022-048-1T00:00" placeholder="End Time" class="form-control">
      
    <br>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br>
  <br>
</form>
<script src="/static/js/reserve.js"></script>
{% endblock %}