{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}

{% if not no_delete %}
<h3>Delete a Reservation</h3>
<form id="registerform" method="POST" onsubmit="return delete_reservation();">
  <div class="form-group">
    <input type="text" class="form-control" id="reservation_id" placeholder="Reservation ID">
    <br>
  </div>
  
  <button type="submit" class="btn btn-primary">Delete</button>
  <br>
  <br>
</form>
<script src="/static/js/delete_reservation.js"></script>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Building</th>
      <th scope="col">Room Number</th>
      <th scope="col">Reserver</th>
      <th scope="col">Associated Group</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody>
    {% for r in queried_reservations %}
    <tr>
      <th scope="row">{{ r.ReservationID }}</th>
      <td>{{ r.BuildingName }}</td>
      <td>{{ r.RoomNumber }}</td>
      <td>{{ r.FirstName }} {{ r.LastName }}</td>
      <td>{{ r.GroupName }}</td>
      <td>{{ r.StartTime }}</td>
      <td>{{ r.EndTime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block search_bar %}


{% endblock %}