{% extends "base.html" %}
{% block head %}
  <!-- {{ super() }} -->
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Building Name</th>
      <th scope="col">Room Number</th>
      <th scope="col">Capacity</th>
      <th scope="col">Popularity</th>
    </tr>
  </thead>
  <tbody>
    {% for r in queried_rooms %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ r.BuildingName }}</td>
      <td>{{ r.RoomNumber }}</td>
      <td>{{ r.RoomCapacity }}</td>
      <td>{{ r.Popularity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}